<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <metahttp-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../CSS/index.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'> -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css'>
    <link rel='stylesheet' href='https://themify.me/wp-content/themes/themify-v32/themify-icons/themify-icons.css'>
    <link rel="icon" href="/Images/icon.png">
</head>
<body>
    <div id="preloader">
        <svg class="mainSVG" viewBox="0 0 800 600" xmlns="http://www.w3.org/2000/svg">
 <defs>   
   <path id="puff" d="M4.5,8.3C6,8.4,6.5,7,6.5,7s2,0.7,2.9-0.1C10,6.4,10.3,4.1,9.1,4c2-0.5,1.5-2.4-0.1-2.9c-1.1-0.3-1.8,0-1.8,0
	s-1.5-1.6-3.4-1C2.5,0.5,2.1,2.3,2.1,2.3S0,2.3,0,4.4c0,1.1,1,2.1,2.2,2.1C2.2,7.9,3.5,8.2,4.5,8.3z" fill="#3b3a4c"/>
   <circle id="dot"  cx="0" cy="0" r="5" fill="#fff"/>   
</defs>

  <circle id="mainCircle" fill="none" stroke="none" stroke-width="2" stroke-miterlimit="10" cx="400" cy="300" r="130"/>
  <circle id="circlePath" fill="none" stroke="none" stroke-width="2" stroke-miterlimit="10" cx="400" cy="300" r="80"/>

  <g id="mainContainer" >
    <g id="car">
<path id="carRot" fill="#ffbd35"  d="M45.6,16.9l0-11.4c0-3-1.5-5.5-4.5-5.5L3.5,0C0.5,0,0,1.5,0,4.5l0,13.4c0,3,0.5,4.5,3.5,4.5l37.6,0
	C44.1,22.4,45.6,19.9,45.6,16.9z M31.9,21.4l-23.3,0l2.2-2.6l14.1,0L31.9,21.4z M34.2,21c-3.8-1-7.3-3.1-7.3-3.1l0-13.4l7.3-3.1
	C34.2,1.4,37.1,11.9,34.2,21z M6.9,1.5c0-0.9,2.3,3.1,2.3,3.1l0,13.4c0,0-0.7,1.5-2.3,3.1C5.8,19.3,5.1,5.8,6.9,1.5z M24.9,3.9
	l-14.1,0L8.6,1.3l23.3,0L24.9,3.9z"/>      
    </g>
  </g>
</svg>
    </div>
    <div id="header">
        <nav>
            <ul>
                <a href="/">Home</a>
                <a href="/park">Park a Car</a>
                <a href="/#section2">About Us</a>
                <a href="/#section5">Contact Us</a>
                <a href="/login">Login / SignUp</a>
               
            </ul>
        </nav>
        <div id="container">
            <div id="title">
                <h1>ParkXpert</h1>
                <p>Park with ease, park with ParkXpert.Experience hassle-free parking with ParkXpert's innovative solution.</p>
                
                <a href="/park" id="button">Book a Slot </a>
            </div>
            <div id="image">
                <img src="/Images/image3.png" alt="">
            </div>
            
        </div>
        
        
    </div>
   
    
    <div id="section1" data-aos="fade-up">
        
        <h1>Why ParkXpert ?</h1>
        <div class="features">
            <div id="feature1">
                <img src="/Images/parking.gif" alt="">
                <h2>
                    Parking Reservation
                </h2>
            </div>
            <div id="feature2">
                <img src="/Images/gps.gif" alt="">
                <h2>
                    Real-time Monitoring
                </h2>
            </div>
            <div id="feature3">
                <img src="/Images/profile.gif" alt="">
                <h2>
                    User Management
                </h2>
            </div>
            <div id="feature4">
                
                <img src="/Images/security camera.gif" alt="">
                <h2>
                    Vehicle Recognition
                </h2>
                
            </div>
        </div>
       
    </div>
    
    <section id="section2" data-aos="fade-right">
        <!-- <div class="custom-shape-divider-top-1675613962">
            <img src="/Images/triangle.svg" alt="">
        </div> -->
        <div class="container">
            <div id="info">
                <h1>Fully Automatic Parking Service</h1>
                <p>A fully automatic car parking system is a computerized system that facilitates the parking of vehicles in a multi-story parking facility.The system is designed to provide a safe, efficient and convenient way to park vehicles and maximize the use of limited parking space. </p>
            </div>
            <div id="info-image">
                <img src="/Images/City driver-pana.png" alt="">
            </div>
        </div>
        
    </section>
    <section id="section3">
        <h1>Our Customers Speak</h1>
        <p>Testimonials from Those Who Trust Our Services</p>
        <div class="container">
            <div class="customer1" data-aos="fade-right">
                <div class="info">
                    <img src="/Images/quote.gif" alt="">
                    <h3>Vikrant Mehta</h3>
                </div>
                <div class="test">
                    <p>I have been using the web-based car parking system for a few months now and I am extremely impressed with its ease of use and functionality. The platform has made managing parking for my business a breeze. The real-time updates and the ability to access my account from anywhere has saved me a lot of time and hassle.Overall, I highly recommend this web-based car parking system to anyone in need of a reliable and efficient solution for managing their parking operations</p>
                </div>
                

            </div>
            <div class="customer2" data-aos="fade-left">
                <div class="info">
                    <img src="/Images/quote.gif" alt="">
                    <h3>Swara Singh</h3>
                </div>
                <div class="test">
                    <p>I recently switched to the web-based car parking system and I am extremely happy with my decision. The platform is incredibly user-friendly and efficient, making it easy for me to manage parking for my business. The real-time updates and access to detailed reports have helped me stay organized and on top of my parking operations. I highly recommend this web-based car parking system to anyone looking for a reliable and effective solution for managing their parking needs.</p>
                </div>
                

            </div>
            
        </div>
        <div class="container">
            <div class="customer1" data-aos="fade-right">
                <div class="info">
                    <img src="/Images/quote.gif" alt="">
                    <h3>Varsha Mahajan</h3>
                </div>
                <div class="test">
                    <p>As a property manager, finding a solution for efficient and organized car parking was a top priority for me. The platform has exceeded all my expectations, offering real-time updates, detailed reports, and a user-friendly interface that makes it easy for me to manage parking for all my tenants. The customer support team is also fantastic, always available to assist with any questions or issues. I highly recommend this web-based car parking system to anyone looking for a comprehensive and effective solution for their parking needs</p>
                </div>
                

            </div>
            <div class="customer2" data-aos="fade-left">
                <div class="info">
                    <img src="/Images/quote.gif" alt="">
                    <h3>Harsh Patel</h3>
                </div>
                <div class="test">
                    <p>The web-based car parking system has completely transformed the way I manage parking for my events. The platform is user-friendly and intuitive, making it easy for me to assign and track parking spaces for attendees. I also appreciate the convenience of being able to access my account from anywhere, at any time. The customer support team is also top-notch, always available to help with any questions or concerns I may have. I highly recommend this web-based car parking system to anyone looking for a streamlined and efficient solution for their parking needs.</p>
                </div>
                

            </div>
            
        </div>
    </section>
    <section id="section4" data-aos="fade-up">
        <h1>Discover Your Convenient Parking Location</h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15137.125812427534!2d73.85822367765576!3d18.47090614900549!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2ea974085768d%3A0x167d3f7d6fa4e276!2sBibwewadi%2C%20Pune%2C%20Maharashtra%20411037!5e0!3m2!1sen!2sin!4v1675622391140!5m2!1sen!2sin"style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
    <section id="section5" data-aos="fade-up">
        <h1>Park your queries, find the perfect space for answers</h1>
        <div class="container">
            <img src="/Images/Questions-amico.png" alt="">
            <form action="#">
                <input type="text" id="name" placeholder=" "><span for="Name">Name</span>
                <input type="text" id="number" placeholder=" " ><span for="Number">Number</span>
                <input type="email" id="email" placeholder=" "><span for="Email">Email Address</span>
                <textarea name="text" id="que" cols="30" rows="7" placeholder=" " style="resize: none;"></textarea><span for="Add Your Question">Add Your Question</span>
                <button type="submit">Submit</button>
            </form>
        </div>
    </section>
    <!-- <footer >
        <div class="info">
            <h2>ParkXpert</h2>
            <p>ParkXpert is a user-friendly online platform for finding and booking convenient and affordable parking spots. ParkXpert is a user-friendly online platform for finding and booking convenient and affordable parking spots. </p>
        </div>
        <div class="weblinks">
            <h2>Weblinks</h2>
            <ul>
                <a href="#">Home</a>
                <a href="#">Park a Car</a>
                <a href="#">About Us</a>
                <a href="#">Contact Us</a>
                <a href="#">Login</a>
                <a href="#">Sign Up</a>
            </ul>
        </div>
        <div class="contact">
            <h2>Contact Us</h2>
           
        </div>
    </footer> -->
    <footer class="new_footer_area bg_color">
        <div class="new_footer_top">
            <div class="container1">
                <div class="row">
                    <div class="col-lg-3 col-md-6 info">
                        <div class="f_widget company_widget wow fadeInLeft" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                            <h2 style="margin-bottom: 20px;" class=" f-title f_600 t_color f_size_18">ParkXpert</h2>
                          <p>ParkXpert is a web-based car parking system that uses number plate recognition. Drivers can register online and pay automatically. The system calculates the time spent and charges the driver accordingly. Payment can be made online or via a mobile app. ParkXpert offers convenience, efficiency and security for both drivers and parking operators.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 touch">
                        <div class="f_widget company_widget wow fadeInLeft" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                            <h3 class="f-title f_600 t_color f_size_18">Get in Touch</h3>
                            <p>Don’t miss any updates of our new templates and extensions.!</p>
                            <form action="#" class="f_subscribe_two mailchimp" method="post" novalidate="true" _lpchecked="1">
                                <input type="text" name="EMAIL" class="form-control email" placeholder="Email">
                                <button class="btn btn_get btn_get_two" type="submit">Subscribe</button>
                                <p class="mchimp-errmessage" style="display: none;"></p>
                                <p class="mchimp-sucmessage" style="display: none;"></p>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 links">
                        <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                            <h3 class="f-title f_600 t_color f_size_18">Useful Links</h3>
                            <ul class="list-unstyled f_list">
                                <li><a href="/">Home</a></li>
                                <li><a href="/park">Park a Car</a></li>
                                <li><a href="/#section2">About Us</a></li>
                                <li><a href="/#section5">Contact Us</a></li>
                                
                            </ul>
                        </div>
                    </div>
                 
                    <div class="col-lg-3 col-md-6 connect">
                        <div class="f_widget social-widget pl_70 wow fadeInLeft" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
                            <h3 class="f-title f_600 t_color f_size_18">Connect with us</h3>
                            <div class="f_social_icon">
                                <a href="#" class="fab fa-facebook"></a>
                                <a href="#" class="fab fa-twitter"></a>
                                <a href="#" class="fab fa-linkedin"></a>
                                <a href="#" class="fab fa-pinterest"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_bg">
                <div class="footer_bg_one" ></div>
                <!-- <div class="footer_bg_two"></div> -->
            </div>
        </div>
        <div class="footer_bottom">
            <div class="container1">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-sm-7">
                        <p class="mb-0 f_400">© ParkXpert 2023 All rights reserved.</p>
                    </div>
                   
                </div>
            </div>
        </div>
    </footer>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/gsap/1.18.3/TweenMax.min.js'></script>
    <script src='//s3-us-west-2.amazonaws.com/s.cdpn.io/16327/MorphSVGPlugin.min.js'></script><script  src="/JavaScript/loader.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> </script>
    
   
    <script>
            setTimeout(function () {
                
        $('#preloader').fadeToggle();
    }, 1500);
   
    </script>
    
    <script>
      AOS.init({
        duration:700
      });
    </script>
</body>
</html>